# Copy this file to .env or just set these environment variables

# default port is 5000
export PORT=5000

# Badges
export BADGES_ENDPOINT=http://localhost:8080
export BADGES_KEY=master
export BADGES_SECRET=
export BADGES_SYSTEM=MozillaScience