# Copy this file to .env or just set these environment variables

# default port is 5000
export PORT=5000

# Badges
export BADGES_ENDPOINT=http://badgekit-api-sciencelab.herokuapp.com/
export BADGES_KEY=master
export BADGES_SECRET=mozillascience
export BADGES_SYSTEM=badgekit