doctype html5
html.
  <head>
    <meta charset="UTF-8">
    <title>Contributorship Badges</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/vendor/pure-min.css">
    <link rel="stylesheet" href="/css/vendor/grids-responsive-min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
    <link rel="stylesheet" href="/css/main.css">
  </head>
  <body>
    <script src="/js/main.js"></script>
  </body>
